.add-file__wrapper {
    background-color: #2f2fa2;
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    &:hover {
        background-color: #242583
    }
    &:before {
        content: '+';
        font-size: 70px;
        font-weight: 900;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
    }
}

input[type="file"] {
    display: none;
}

.viewer-wrapper {
    width: 100%;
    height: 100%;
}
