.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.button-wrapper button {
  height: 32px;
  width: 64px;
}

.button-wrapper,
.board-wrapper {
  width: calc(80vh * 0.71);
  margin: auto;
}

.board-wrapper {
  height: 80vh;
  padding: 32px calc(32px * 0.71);

  border: 1px solid #000;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.quarter {
  border: 1px solid #000;
}

@media print {
  button {
    display: none;
  }
  .board-wrapper {
    height: 1123px;
    width: 794px;
    padding: 0;
    border: none;
  }
}
