.board-wrapper {
    border: 1px solid #000;
    height: 100vh;
    width: calc(100vh*.71);
    margin: auto;

    display: grid;
    grid-template-columns: 50% 50%;
}

.quarter {
    border: 1px solid #000;
}